.content {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  border: 3px #52658f solid;
  padding: 15px;
}
.search-pannel {
  flex: 0 0 100%;
}
.search {
  padding: 0.375rem 0.75rem;
  width: 75%;
  border: 4px solid #006ec5;
}
.button {
  display: inline;
  font-weight: bold;
}
.add-location {
  font-style: italic;
  color: #43a5f5;
}
.left-part {
  display: block;
  flex: 0 0 100%;
}
.current-data,
.forecast {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.current-day,
.current-time {
  color: #0f0f10;
  display: inline;
  font-size: 32px;
  text-align: center;
  flex: 0 0 50%;
}
.current-day {
  border-right: 3px #939aa9 solid;
}

.current-city {
  text-transform: capitalize;
  text-align: center;
  flex: 0 0 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 44px;
  color: #596aca;
}
.current-icon {
  flex: 0 0 30%;
  display: inline;
  font-size: 10px;
}
.current-temp {
  flex: 0 0 35%;
  display: inline;
  color: #596aca;
  font-size: 76px;
}
.C-F-weather {
  flex: 0 0 35%;
  display: inline;
}
.current-icon,
.current-temp {
  text-align: center;
}
.current-temp-C,
.addSlash,
.current-temp-F {
  color: #596aca;
  font-size: 24px;
  display: inline;
}
.tempVariants,
.weather {
  font-size: 16px;
}
.weather {
  margin-top: 15px;
}
.humidity,
.feelsLike,
.wind {
  margin: 0 auto;
}
.note {
  text-align: center;
}
body {
  display: block;
}
a {
  color: #596aca;
}
a:hover {
  color: #43a5f5;
}
